/* CSS for the skills page*/

header {
    background-color: darkblue;
    padding: 10px;
    text-align: center;
  }
  
  .heading {
    color: white;
    font-size: 36px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: seashell;
  }

  .box {
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 5px solid brown;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .box:hover {
    background-color: darkblue;
    transition: background-color 0.3s;
  }
  
  .box img {
    width: 150px;
    height: 150px;
  }
  .box.content {
    background-color: darkblue;
    transition: background-color 0.3s;
    display: block;
    margin-top: 10px;
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  

  


  
  
