/* css for contact page*/
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f1f1f1;
  }

  header {
    background-color: darkblue;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: seashell;
    border: 2px solid brown;
    border-radius: 5px;
    margin: 10px;
  }

  .profile {
    text-align: center;
    margin-bottom: 20px;
  }

  .profile img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  #text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .icons .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    color: darkblue;
  }

  .icons img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }

  form {
    max-width: 400px;
    margin: 0 auto;
  }

  h2 {
    text-align: center;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    font-weight: bold;
  }


  textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid brown;
    border-radius: 5px;
  }

  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: darkblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #0056b3;
  }